module Skeleton {
    port Calculate_Port() -> U8
    @ Calculate component in skeleton
    passive component Calculate {


        sync input port Calculate_Inport: Calculate_Port

        @ Port for requesting the current time
        time get port timeCaller

        @ Port for sending textual representation of events
        text event port logTextOut

        @ Port for sending events to downlink
        event port logOut

        @ Port for sending telemetry channels to downlink
        telemetry port tlmOut

        event CALCULATEALL()\
            severity activity low\
            format "Calculate component start"

    }
}